:root{
  --card-bg: #fff;
  --off-bg: #f7f7f7;
  --shadow: #DDDDE3;
  --main-bg: #F3D9DC
  --meetup-btn-clr: #4CAF50;
  --meetup-btn-clr-drk: #2A662C;
}

body {
  background-color: var(--main-bg);
}

h4 {
  font-style: italic;
}

.main-column {
  margin-top: 20px;
  padding: 20px;
  
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadow);
}

.user-profile {
  margin-top: 20px;
  padding: 20px;
  
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadow);

  display: grid;
  grid-template-columns: 15% 70%;

  align-content: center;
}

.user-profile div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-pic {
  margin: 0;
  
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;

  place-self: center;
}

.user-desc {
  margin: 0;
}

.title-card {
  padding-top: 20px;
  padding-bottom: 20px;
  
  display: grid;
  grid-template-columns: 30% 70%;

  align-content: center;
}

.title-card div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-card .prof-pic {
  
}

.main-card {
  margin-top: 20px;
  padding: 20px;

  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadow);
}

.meet-button {
  background-color: #4CAF50 !important;
  border-radius: 8px;
  transition-duration: 0.6s;
  color: white;
}

.meet-button:hover {
  background: var(--meetup-btn-clr-drk) !important;
}