{% extends "base.html" %} {% block title%}Home{% endblock %}

{% block content %}
<div class="main-column">
  <h1 align="center">UniMeetups</h1>
  <h4 align="center">Take care of your social life in Uni</h4>
  <h4 align="center">{{school}}</h4>
</div>
<div class="user-profile">

  <img class="prof-pic" src={{user_pic}}>
  <div>
    <h2>{{user_name}}</h2>
    <p class="user-desc">{{desc}}</p>
  </div>
  
</div>
<div class="main-column">
  <h2 align="center">Matches</h2>
  {% for match in matches %}
  <hr>
  <div class="title-card">
    <img class="prof-pic" src="{{match['profile_photo']}}">
    <div>
      <h3>{{match['full_name']}}</h3>
      <p>{{match['description']}}</p>
      <form action="" method="post">
        <button class="meet-button" name="meetup_request" value="{{match['email']}}">Let's Meetup!</button>
      </form>
    </div>
    <div>
      <h4>Top Tags</h4>
      <ul>
        <li>{{match['tags'][0]}}</li>
        <li>{{match['tags'][1]}}</li>
        <li>{{match['tags'][2]}}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
  
</div>
{% endblock %}